@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-highlight: hsl(54, 90%, 50%);
  --color-text-highlight: hsl(192, 14%, 0%);
  --duration: 1s;
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
}

.text-highlight {
  all: unset;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: color calc(var(--duration) / 4) var(--ease), background-color calc(var(--duration) / 4) var(--ease), background-size var(--duration) var(--ease);
}
.text-highlight.active {
  color: var(--color-text-highlight);
  background-size: 100% 100%;
}
.text-highlight {
  background-image: linear-gradient(var(--bg-color-highlight), var(--bg-color-highlight));
}

.text-highlight::before, .text-highlight::after {
  position: absolute;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.text-highlight::before {
  content: " [highlight start] ";
}

.text-highlight::after {
  content: " [highlight end] ";
}